@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background-color: theme('colors.bg-main');
  color: theme('colors.text-color');
}

.prose p {
  color: theme('colors.text-color');
}

.scene-cell {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  background-color: transparent;
  transform-style: preserve-3d;
}

.scene-cell-content {
  width: 100%;
  transition: height 0.4s ease-out, background-color 0.4s ease-out;
  position: absolute;
  bottom: 0;
  left: 0;
}

.text-shadow {
  text-shadow: 1px 1px 2px black;
}

.perspective-[800px] {
  perspective: 800px;
}

/* Game-specific styles */
.view-3d {
  flex: 1;
/*  color: white;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  height: 40%;
  padding: 0;
  box-sizing: border-box;
  transition: background 0.5s linear;
  background-color: #87CEEB;
}

.controls-2d {
  width: 50%;
  background-color: #F5F5DC;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

.map-grid-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}